<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crc32C.NET" version="1.0.5.0" targetFramework="net46" />
  <package id="Jil" version="2.14.5" targetFramework="net46" />
  <package id="Sigil" version="4.7.0" targetFramework="net46" />
  <package id="Snappy.NET" version="1.1.1.8" targetFramework="net46" />
</packages>